@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import "tailwindcss";

@theme {

  
  --color-tint-light: #14C6FF;
  --color-tint-dark: #0a7ea4;
  --font-nunito-regular: "Nunito Sans", sans-serif;
}